  <div class="top-visual" >
    <div class="top-visual-content">
     <h2>ようこそ、ながのCAKEへ！</br></br>
         このサイトは、ケーキ販売のECサイトです。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。
     </h2>
  </div>
</div>