<h3 class="text-center font-weight-bold pt-5">会員一覧</h3>
<div class="container d-flex align-items-center justify-content-center pt-5" style="height:auto; width:800px;">
 <table class="table">
   <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
   </tr>
  <% @customers.each do |customer| %>
  <tr>
　 <td><%= customer.id %></td>
   <td><%= link_to customer.full_name,admin_customer_path(customer.id) %></td>
   <td><%= customer.email %></td>
   <% if customer.is_deleted == true %>
   <td>退会済</td>
   <% else %>
   <td>有効</td>
   <% end %>
  </tr>
 <% end %>
 </table>
</div>