/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
//  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

header{
 padding-top: 10px;
 font-family: fantasy,'Noto Sans JP',sans-serif;
 background-color:#550000;
}

body{
  font-family: 'Noto Sans JP',sans-serif;
  background-color:#DEB887;
}
// .footer{
 // background-color:#550000;
 // height:50px;
// }

.top-visual{
  width: 100%;
  height: 350px;
  background-image: url(sweets2.JPG);
  background-size: cover;
  background-position: center;
}

.about-visual{
  width: 100%;
  height: 100%;
  background-image: url(sweets2.JPG);
  background-size: cover;
  background-position: center;
}

.top-visual-content{
  width: 100%;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.5); /* 背景色を半透明にする */
  text-align: center;
  padding-top: 50px;
  color: black;
}


.about-visual-content,.complete-content{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 背景色を半透明にする */
  text-align: center;
  padding-top: 105px;
  color: black;
}

.complete-visual{
  width: 100%;
  height: 100%;
  background-image: url(フルーツケーキ.JPG);
  background-size: cover;
  background-position: center;
}

.complete-content{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* 背景色を半透明にする */
  text-align: center;
  padding-top: 300px;
  color: black;
}

.container-log-in-content,.container-sign-in-content,.container-my-page,
.container-item{
  background-color:#DEB887;
}

.item{
 margin:10px;
}

.table1 td {
 text-align-last: justify;
 width: 50%;
}

// table td {
//  width: 20%;
// }


